:root {
  --background-color: rgb(9, 19, 27);
  /* --background-color: rgb(33, 33, 33); */
  --bs-primary-rgb: #d63
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
}

h1,h2,h3,h4.h5,h6 {
  font-family: 'unbounded', cursive;
  font-weight: 700;
}

.container-fluid-custom {
  max-width: 1600px;
}

.custom-search-box {
  max-width: 600px;
  margin: 0 auto;
}

.column {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.column:last-child {
  border-right: none;
}



.vertical-line {
  border-left: 2px solid #ddd;
  height: 100%;
  position: absolute;
  left: 66.6%;
}

.note-column {
  width: 66.6%;
}

.add-note-column {
  width: 33.3%;
  padding-left: 20px;
  position: relative;
}

.add-note-column form {
position: sticky;
top: 20px;
}

.badge-outline-info {
  color: #0dcaf0; /* Bootstrap info color */
  background-color: transparent;
  border: 1px solid #0dcaf0;
}

@media (min-width: 576px) {
  .container-fluid-custom {
    max-width: 540px; /* For small screens (mobile phones) */
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container-fluid-custom {
    max-width: 720px; /* For medium screens (iPads) */
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container-fluid-custom {
    max-width: 960px; /* For small laptops */
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container-fluid-custom {
    max-width: 960px; /* Suitable for laptops with a 1024px width */
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container-fluid-custom {
    max-width: 1140px; /* Suitable for larger laptops and desktops */
    margin: 0 auto;
  }
}